# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# typescript
*.tsbuildinfo
next-env.d.ts

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env*
!.env.example

# vercel
.vercel

# os
.DS_Store
